<div class="row dashboard">
  <div class="col-md-3">
  	<div class="sidebar-header"><i class="fa fa-comments" aria-hidden="true"></i>
  		My Conversations
  	</div>
    <ul class="channels">
      <li>
      <a href="#">
        <img src="https://randomuser.me/api/portraits/women/6.jpg"/>
        <span>Sara Smith</span>
        </a>
      </li>
      <li>
      <a href="#">
        <img src="https://randomuser.me/api/portraits/women/89.jpg"/>
        <span>Jane Doe</span>
        </a>
      </li>
      <li>
      <a href="#">
        <img src="https://randomuser.me/api/portraits/men/47.jpg"/>
        <span>James Green</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <h2>Conversation with <strong>Sara Smith</strong></h2>
    <div class="message-window">
      <div class="message">
        <div class="profile-picture">
          <img src="https://randomuser.me/api/portraits/women/6.jpg"/>
        </div>
        <div class="message-body">
          <span class="username">Sara Smith</span>
          <span class="date">5/19, 12:03am</span><br/>
          <p>Duis id nisl mauris. Sed vitae dolor convallis, iaculis dui eu, euismod odio. Aenean tempus, diam at auctor blandit, turpis purus finibus nulla, vel efficitur turpis lorem eu diam. Integer vitae turpis et enim auctor pulvinar lacinia sit amet odio. Praesent finibus, orci feugiat fermentum tincidunt, diam erat blandit urna, in ultricies sapien orci quis ligula. Sed molestie mauris magna, non varius odio lacinia quis. Duis metus diam, venenatis eu nulla eu, pharetra facilisis justo. Duis massa magna, placerat tincidunt ultricies et, lobortis tristique libero. Nulla quis mi eu enim tristique consequat at at sem. Integer mollis risus et scelerisque aliquam. Sed interdum aliquet tempus. Proin efficitur condimentum nisi id hendrerit.</p>
        </div>
      </div>

      <div class="message">
        <div class="profile-picture">
          <img src="https://randomuser.me/api/portraits/men/49.jpg"/>
        </div>
        <div class="message-body">
          <span class="username">Jake Davis</span>
          <span class="date">5/20, 2:15pm</span><br/>
          <p>Nunc sit amet nibh eu tortor varius laoreet vel non massa?</p>
        </div>
      </div>

      <div class="message">
        <div class="profile-picture">
          <img src="https://randomuser.me/api/portraits/women/6.jpg"/>
        </div>
        <div class="message-body">
          <span class="username">Sara Smith</span>
          <span class="date">5/20, 4:56pm</span><br/>
          <p>Mauris sapien massa, eleifend nec vestibulum vel, aliquet quis elit. Integer ac odio sit amet lectus porta sodales. Donec varius vel sapien sed consectetur.</p>
        </div>
      </div>

      <div class="message">
        <div class="profile-picture">
          <img src="https://randomuser.me/api/portraits/men/49.jpg"/>
        </div>
        <div class="message-body">
          <span class="username">Jake Davis</span>
          <span class="date">5/21, 9:33am</span><br/>
          <p>Nam lectus metus, faucibus nec imperdiet ac, auctor ut ligula. Suspendisse laoreet congue viverra. Sed porttitor eget ante sit amet pretium.<br/> Aliquam diam erat, tempus sagittis massa sed, maximus elementum leo. Integer et ex quis est luctus maximus ac eget lacus. Aliquam vehicula interdum laoreet.</p>
        </div>
      </div>
    </div>

    <div class="message-input">
      <div class="profile-picture">
        <img src="https://randomuser.me/api/portraits/men/49.jpg"/>
      </div>
      <div class="message-body">
        <textarea placeholder="Type your message here..."></textarea>
      </div>
    </div>
    <div class="actions">
        <input type="submit" value="Send" class="btn btn-lg btn-primary btn-block btn-success"/>
    </div>
  </div>
</div>
