<div class="row dashboard">
  <div class="col-md-3">
  	<div class="sidebar-header"><i class="fa fa-comments" aria-hidden="true"></i>
  		My Conversations
  	</div>
    <ul class="channels">
      <li>
        <img src="http://casecommons.org/newsite/demo/pierre/imgs/helper.svg"/>
        <span>Calico Help</span>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <h2 style="margin-bottom: 20px;">Conversation with <strong>Calico Help</strong></h2>
    <div class="message-window" style="overflow:auto;height:auto;">
      <div class="message">
        <div class="profile-picture">
          <img src="http://casecommons.org/newsite/demo/pierre/imgs/helper.svg"/>
        </div>
        <div class="message-body">
          <span class="username">Calico Help</span>
          <span class="date">5/19, 12:03am</span><br/>
          <p>Hi there!<br><br>

				Welcome to Calico, a messaging app for caseworkers, birth and foster parents, designed to help coordinate and communicate.  <br><br>

To get started, click on the menu button (<i class="fa fa-bars" aria-hidden="true"></i>) and go to the <a>Resource Finder</a> (<i class="fa fa-crosshairs" aria-hidden="true"></i>).  This will put you in touch with foster family agencies in your area.  <br><br>

From there, select a resource and you will see a list of caseworkers that you can message.<br><br>

Next time you login, you will see all conversations with caseworkers on your home page so you can message there.</p>
        </div>
      </div>
    </div>
  <div class="mobile-spacer"></div>

    <div class="message-input">
      <div class="profile-picture">
        <img src="http://casecommons.org/newsite/demo/pierre/imgs/user.svg"/>
      </div>
      <div class="message-box">
        <textarea placeholder="Type your message here..."></textarea>
      </div>
    </div>

    <div class="actions">
      <input type="submit" value="Send" class="btn btn-lg btn-primary btn-block btn-success"/>
    </div>
  </div>
</div>
