<%= render "shared/dashboard" %>

<div class="dashboard">
	<div class="row">
		<div class="col-md-3">
			<ul class="channels">
				<li>
					<img src="https://randomuser.me/api/portraits/women/6.jpg">
					<span>Sara Smith</span>
				</li>
				<li>
					<img src="https://randomuser.me/api/portraits/women/89.jpg">
					<span>Jane Doe</span>
				</li>
				<li>
					<img src="https://randomuser.me/api/portraits/men/47.jpg">
					<span>James Green</span>
				</li>
			</ul>
		</div>
		<div class="col-md-9">
			<h2>Conversation with <strong>Sara Smith</strong></h2>
			<div class="message-window">

				
			
			</div>

			<div class="message-input">
				<textarea placeholder="Type your message here..."></textarea>
			</div>

			<div class="actions">
			    <input type="submit" value="Send" class="btn btn-lg btn-primary btn-block btn-success"/>
			</div>
		</div>
	</div>
</div>
