<tr>
  <td> <%= link_to(foster_family_agency.facility_name, foster_family_agency_path(foster_family_agency.facility_number))%> </td>
  <td> <%= address(foster_family_agency) %> </td>
  <td> <%= foster_family_agency.facility_telephone_number %> </td>
</tr>
