.dashboard {

	h2 {
		margin-top: -0.6rem;
	}

	ul {
		padding: 0;

		img {
			height: 5rem;
			width: 5rem;
			margin-right: 0.8rem;
		}

	}

	ul.channels li  {
		border-bottom: 2px solid #ddd;
		padding: 1rem;
		list-style-type: none;
		background-color: #fff;
	}

	ul.channels li:active  {
		background-color: #dce4ee;
	}

	ul.channels li:last-child  {
		border-bottom: none;
	}

	ul.channels li:hover  {
		background-color: #dce4ee;
	}

	.message-window {
		padding: 1rem;
		background-color: #fff;
	}

	.message-input {

		textarea {
			padding: 10px;
			width: 100%;
			border: none;
			min-height: 8rem;
		}
	}

	.actions {
		.btn {
		   float: right;
    		width: 14rem;
    	}
	}
}