.form-foster-family-agency {
  max-width: 40rem;
  padding: 2rem;
  margin: 0 auto;
  background-color: #fff;

  .title {
    margin-top: 0;
    font-weight: 600;
  }

  i {
    width: 1.5rem;
  }

  ul li {
    margin-top: 0.5em;
  }
}

.resource-table {
  .table {
    clear: both;
  }
}

@media (max-width: 768px) {
  .form-foster-family-agency {
    max-width: 100%;
  }
}

.resource-table {
  h2 {
    margin-bottom: 1.7rem;
    float: left;
  }

  #zip_code {
    float: left;
    margin-left: 1rem;
    text-align: center;
    padding: 0rem;
    width: 10rem;
    font-size: 3rem;
    font-weight: 600;
  
  }

  .btn {
  
    float: left;
    padding: 0.95rem 1.5rem;
    margin-left: 1rem;
  }
}

@media (max-width: 768px) {
  .resource-table {
    #zip_code {
      margin-left: 0;
      margin-bottom: 1rem;
    }
  }
}