<!DOCTYPE html>
<html>
<head>
  <title>CaliforniaPrototype</title>
  <%= javascript_include_tag gulp_asset_path('vendor.js'), defer: true %>
  <%= javascript_include_tag gulp_asset_path('app.js'), defer: true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
    <%= yield %>
  </div>

</body>
</html>
